.main-background {
  background-image: url(../image/1.jpg);
  background-size: cover;
  color: white;
  border-radius: 0px;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s ease-in-out;
  transform: translateY(-1200px);
}
.slide-down {
  transform: translateY(0px);
}

.white-background {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin: 200px auto;
  padding: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
  color: white;
}

.nav-menu-scroll {
  transition: all 0.3s ease-in-out;
  background-color: rgba(20, 20, 20, 0.856);
}
.nav-menu h4 {
  margin: 0;
  font-size: 33px;
  transition: all 0.3s ease-in-out;
}
.nav-menu a {
  padding: 10px;
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}

.scroll-move h4 {
  font-size: 24px;
}

.scroll-move a {
  font-size: 18px;
}
.nav-sub {
  display: none;
  border-radius: 0px;
}

#form #emailAlert {
  color: tomato;
  display: none;
}

#form #passwordAlert {
  color: tomato;
  display: none;
}

.left-menu {
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  position: fixed;
  z-index: 5;
  margin-left: -200px;
}

.slide-overflow {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slide-container {
  width: 300vw;
  transform: translateX(0vw);
  /*transition: transform 1s ease-in-out;*/
}
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
}

.slide-move {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 45%;
}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: "";
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.active {
  border-top: 2px solid rgb(255, 0, 64);
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}
